<a href="https://colab.research.google.com/github/neel13062003/Egniol_Task/blob/master/whatsapp_api_script.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /usr/local/lib/python3.10/dist-packages (8.3.0)

In [7]:
!pip install mysql-connector-python

import mysql.connector
from mysql.connector import Error

def connect_to_database():
    try:
        connection = mysql.connector.connect(
            host='ls-b22a231d8e508b8c418ba2bb457da5988f6a952d.c2g9uvquz5lp.ap-south-1.rds.amazonaws.com',
            user='DEV_FRANCE',
            password='Egniol#271222',
            database='Egniol_FRANCE'
        )
        if connection.is_connected():
            print('Connected to MySQL database')
            return connection
    except Error as e:
        print(f'Error connecting to MySQL database: {e}')
        return None

def execute_query(connection, query):
    try:
        cursor = connection.cursor(dictionary=True)
        cursor.execute(query)
        records = cursor.fetchall()
        return records
    except Error as e:
        print(f'Error executing SQL query: {e}')
        return None

def main():
    # Connect to the database
    connection = connect_to_database()
    if not connection:
        return

    # Define your SQL query
    query = """
    SELECT id,`from` as ContactNumber  FROM PLATFORM.text_waba
    WHERE text IN (SELECT text FROM PLATFORM.BUTTON)
    AND DATE(created_at) = "2024-04-13"
    LIMIT 5;
    """

    # Execute the SQL query
    records = execute_query(connection, query)
    if not records:
        return

    # Display the results
    print("Results:")
    for record in records:
        print(record)

if __name__ == "__main__":
    main()

Requirement already satisfied: mysql-connector-python in /usr/local/lib/python3.10/dist-packages (8.3.0)
Connected to MySQL database
Results:
{'id': 2122696, 'ContactNumber': '917007181118'}
{'id': 2122700, 'ContactNumber': '918737920000'}
{'id': 2122702, 'ContactNumber': '917820089414'}
{'id': 2122703, 'ContactNumber': '919412249900'}
{'id': 2122705, 'ContactNumber': '919028935561'}

In [9]:
import mysql.connector
from mysql.connector import Error

def connect_to_database():
    try:
        connection = mysql.connector.connect(
            host='ls-b22a231d8e508b8c418ba2bb457da5988f6a952d.c2g9uvquz5lp.ap-south-1.rds.amazonaws.com',
            user='DEV_FRANCE',
            password='Egniol#271222',
            database='Egniol_FRANCE'
        )
        if connection.is_connected():
            print('Connected to MySQL database')
            return connection
    except Error as e:
        print(f'Error connecting to MySQL database: {e}')
        return None

def execute_query(connection, query):
    try:
        cursor = connection.cursor(dictionary=True)
        cursor.execute(query)
        records = cursor.fetchall()
        return records
    except Error as e:
        print(f'Error executing SQL query: {e}')
        return None

def execute_text_waba_query(connection):
    query = """
    SELECT id, `from` as ContactNumber
    FROM PLATFORM.text_waba
    WHERE text IN (SELECT text FROM PLATFORM.BUTTON)
    AND DATE(created_at) = "2024-04-13"
    LIMIT 5;
    """
    return execute_query(connection, query)

def execute_omnichannel_query(connection):
    query = """
    SELECT id, name as CompanyName, contactno as ContactNumber
    FROM PLATFORM.omnichannel
    WHERE message = 'b'
    AND DATE(created_at) = "2024-04-13"
    LIMIT 5;
    """
    return execute_query(connection, query)

def print_records(records, table_name):
    if records:
        print(f"\nResults from {table_name}:")
        for record in records:
            print(record)
    else:
        print(f"No records found in {table_name}")

def main():
    # Connect to the database
    connection = connect_to_database()
    if not connection:
        return

    # Execute the text_waba query
    records_text_waba = execute_text_waba_query(connection)
    print_records(records_text_waba, "text_waba")

    # Execute the omnichannel query
    records_omnichannel = execute_omnichannel_query(connection)
    print_records(records_omnichannel, "omnichannel")

if __name__ == "__main__":
    main()

Connected to MySQL database

Results from text_waba:
{'id': 2122696, 'ContactNumber': '917007181118'}
{'id': 2122700, 'ContactNumber': '918737920000'}
{'id': 2122702, 'ContactNumber': '917820089414'}
{'id': 2122703, 'ContactNumber': '919412249900'}
{'id': 2122705, 'ContactNumber': '919028935561'}

Results from omnichannel:
{'id': 113493, 'CompanyName': 'kaushal Banpela', 'ContactNumber': '919834198573'}
{'id': 113495, 'CompanyName': 'IMRAN SHEIKH', 'ContactNumber': '917887953692'}
{'id': 113496, 'CompanyName': 'haruntamboli1988', 'ContactNumber': '919860123928'}
{'id': 113497, 'CompanyName': 'kale86901', 'ContactNumber': '919975707495'}
{'id': 113498, 'CompanyName': 'Ravindra G Dhopate☺️', 'ContactNumber': '919096861170'}

In [10]:
import mysql.connector
from mysql.connector import Error

def connect_to_database():
    try:
        connection = mysql.connector.connect(
            host='ls-b22a231d8e508b8c418ba2bb457da5988f6a952d.c2g9uvquz5lp.ap-south-1.rds.amazonaws.com',
            user='DEV_FRANCE',
            password='Egniol#271222',
            database='Egniol_FRANCE'
        )
        if connection.is_connected():
            print('Connected to MySQL database')
            return connection
    except Error as e:
        print(f'Error connecting to MySQL database: {e}')
        return None

def execute_query(connection, query):
    try:
        cursor = connection.cursor(dictionary=True)
        cursor.execute(query)
        records = cursor.fetchall()
        return records
    except Error as e:
        print(f'Error executing SQL query: {e}')
        return None

def execute_text_waba_query(connection):
    query = """
    SELECT id, `from` as ContactNumber
    FROM PLATFORM.text_waba
    WHERE text IN (SELECT text FROM PLATFORM.BUTTON)
    AND DATE(created_at) = "2024-04-13"
    LIMIT 5;
    """
    return execute_query(connection, query)

def execute_omnichannel_query(connection):
    query = """
    SELECT id, name as CompanyName, contactno as ContactNumber
    FROM PLATFORM.omnichannel
    WHERE message = 'b'
    AND DATE(created_at) = "2024-04-13"
    LIMIT 5;
    """
    return execute_query(connection, query)

def execute_fetch_ttl_main_master_data(connection):
    query = """
    SELECT client_number as ContactNumber, agent_name, agent_number
    FROM ttsl.ttl_main_master
    WHERE Date(createdAt) = "2024-04-12"
    AND dtmf_input = "1" limit 5;
    """
    return execute_query(connection, query)

def print_records(records, table_name):
    if records:
        print(f"\nResults from {table_name}:")
        for record in records:
            print(record)
    else:
        print(f"No records found in {table_name}")

def main():
    # Connect to the database
    connection = connect_to_database()
    if not connection:
        return

    # Execute the text_waba query
    records_text_waba = execute_text_waba_query(connection)
    print_records(records_text_waba, "text_waba")

    # Execute the omnichannel query
    records_omnichannel = execute_omnichannel_query(connection)
    print_records(records_omnichannel, "omnichannel")

     # Execute the omnichannel query
    records_dtmf = execute_fetch_ttl_main_master_data(connection)
    print_records(records_dtmf, "dtmf")

if __name__ == "__main__":
    main()

Connected to MySQL database

Results from text_waba:
{'id': 2122696, 'ContactNumber': '917007181118'}
{'id': 2122700, 'ContactNumber': '918737920000'}
{'id': 2122702, 'ContactNumber': '917820089414'}
{'id': 2122703, 'ContactNumber': '919412249900'}
{'id': 2122705, 'ContactNumber': '919028935561'}

Results from omnichannel:
{'id': 113493, 'CompanyName': 'kaushal Banpela', 'ContactNumber': '919834198573'}
{'id': 113495, 'CompanyName': 'IMRAN SHEIKH', 'ContactNumber': '917887953692'}
{'id': 113496, 'CompanyName': 'haruntamboli1988', 'ContactNumber': '919860123928'}
{'id': 113497, 'CompanyName': 'kale86901', 'ContactNumber': '919975707495'}
{'id': 113498, 'CompanyName': 'Ravindra G Dhopate☺️', 'ContactNumber': '919096861170'}

Results from dtmf:
{'ContactNumber': '9104312544', 'agent_name': '', 'agent_number': ''}
{'ContactNumber': '9923310366', 'agent_name': '', 'agent_number': ''}
{'ContactNumber': '9327964866', 'agent_name': '', 'agent_number': ''}
{'ContactNumber': '9033313429', 'agent_name': '', 'agent_number': ''}
{'ContactNumber': '8123151610', 'agent_name': '', 'agent_number': ''}